input[type=text]{
    width: 100%;
    padding: 12px 28px;
    margin: 8px 0;
    display: inline;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date]{
    width: 100%;
    padding: 12px 28px;
    margin: 8px 0;
    display: inline;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit]{
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 820px;
    margin: 10px auto;
    gap: 20px;
}
.btn-close{
    float: right;
    margin-top: 0px;
}

.fadeOut{
    visibility:hidden; 
    opacity:true; 
    transition: visibility 0s 2s,opacity 2s linear;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

/* .condition{
    display: inline-box;
    width: 100%;
} */